<?xml version="1.0" encoding="utf-8"?>
<odoo>
      <menuitem
            id="formation.module_root_aze"
            name="Formation/Inscription"/>
             <menuitem id="Dashboard_menu"
              name="Dashboard"
              parent="formation.module_root_aze"
              action="board.open_board_my_dash_action"
              sequence="1"
             />

             <menuitem id="student_menu001"
              name="Students"
              parent="formation.module_root_aze"
              sequence='3'/>
                <menuitem id="reg_menu"
                  name="Inscription"
                  parent="student_menu001"
                  action="reg_action_view"
                          sequence="1"/>
                <menuitem id="student_menu11"
                  name="Students List"
                  parent="student_menu001"
                  action="eleve_action_view"
                          sequence="2"
                />
                <menuitem
		         id="impression_liste_eleve_menu"
		         parent="student_menu001"
		         name="Print List"
		         action="impression_liste_eleve_action"
                 sequence="3"
	             />

              <menuitem id="administration_menu"
                    name="Administration"
                    parent="formation.module_root_aze"
                    sequence='2'/>
               <menuitem id="prof_menu"
                 name=" Teacher"
                 parent="administration_menu"
                 />

               <menuitem id="prof_menu002"
                 name=" Teacher"
                 parent="prof_menu"
                 action="prof_menu_action"
                 />
              <menuitem id="personnel_menu"
                 name="Personnel Administrative"
                 parent="administration_menu"
                 />
               <menuitem id="personnel_menu001"
                 name="Personnel Administrative"
                 parent="personnel_menu"
                 action="personnel_menu_action"
                         sequence="1"
                 />

          <menuitem id="module_root_menu123"
              parent="formation.module_root_aze"
              name="School"
              sequence="4"/>

           <menuitem id="form_menu"
                     name="Formation"
                     parent="module_root_menu123"
                     />

            <menuitem id="module_menu001"
              name="Module"
              parent="form_menu"
              action="module_action_view_test"/>
            <menuitem id="matter_menu"
              name="Matter"
              parent="form_menu"
              action="matter_view_action"/>
           <menuitem id="program_menu"
                     name="Program"
                     parent="module_root_menu123"
                     sequence="2"/>
            <menuitem id="section_menu"
              name="Sector"
              parent="program_menu"
              action="section_action_view_test"/>
            <menuitem id="level_menu"
              name="Level"
              parent="program_menu"
              action="level_action_view"/>

            <menuitem id="cycle_menu"
              name="Cycle"
              parent="program_menu"
              action="cycle_action_view"/>


         <menuitem id="time_root_menu"
              parent="formation.module_root_aze"
              name="TimeTable"
                   sequence="5"
         />
           <menuitem id="Time_menu"
              name="Session"
              parent="time_root_menu"
              action="time_action_view"
           sequence="1"/>
           <menuitem
		         id="impression_time_menu"
		         parent="time_root_menu"
		         name="TimeTable"
		         action="timenet_action_view"
                 sequence="2"
	             />
           <menuitem
		         id="timetable_menu001"
		         parent="time_root_menu"
		         name="TimeTable By Class"
		         action="impression_time_action"
                 sequence="3"
	             />
           <menuitem id="attendance_menu01"
                     name="Attendance and Time OFF"
                     parent="time_root_menu"/>
               <menuitem id="attendance_menu"
                     name=" Attendance"
                     parent="attendance_menu01"
                     action="hr_attendance.hr_attendance_action"
                   />
                   <menuitem id="timeoff_menu"
                     name=" Time Off"
                     parent="attendance_menu01"
                     action="hr_holidays.hr_leave_action_action_approve_department"
                   />
         <menuitem id="ins_root_menu"
              parent="formation.module_root_aze"
              name="Configuration"
               sequence="8"/>

            <menuitem id="class_menu"
              name="Class"
              parent="ins_root_menu"
              action="class_action_view"/>
            <menuitem id="salle_menu"
              name="Salle"
              parent="ins_root_menu"
              action="salle_action_view"/>
            <menuitem id="year_menu"
              name="School Year"
              parent="ins_root_menu"
              action="year_action_view"/>

         <menuitem id="Resultat_menu" name="Score and Results"
                   parent="formation.module_root_aze" />


</odoo>
